a:link,a:visited {text-decoration: none;}

body{
    
    background-image: url(../images/foto_sfondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: black;
    
        
}

.header {
    top: 0px;
    position: fixed;
    background-color: #fd5b78;
    display: inline-block;
    width: 100%;
    
}

.header:after {
    
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    
}

.header_logo {
    
    color: white;
    display: block;
    margin: 3 20;
    float: left;
    
}

.header_logo img {
    
    width: auto;
    height: 50px;
    margin-left: 50px;
    margin-top: 7px;
}

.header_menu {

    margin: 0;
    margin-right: 50px;
    padding: 0;
    float: right;
    
}


.header_menu_item {

    display: inline-block;  
    position: relative;
}



.header_menu_item a {

    color: #191919;
    font-weight: bold;
    font-size: 22px;
    display: block;
    padding: 15px;
    font-family: 'Antonio', sans-serif;
}


.header_menu_item a:hover {
    
    color: #faf0e6;
    transition-duration: 0.6s;
    
}

.header_menu_item a:not(hover) {
    
    transition-duration: 0.6s;
    
}

.header_icon-bar {
    
    display: block;
    float: right;
    padding: 15px;
    display: none;
}

.header_icon-bar span {
    
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 5px; 
}

#intro{
    margin-top: 400px;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #faf0e6;
}


.bottone{
    
    border: 2px solid #fd5b78;
    background-color: #fd5b78; 
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Antonio', sans-serif;
    margin: 0 auto;
    text-align: center;
    padding-top:10px;
    color: #faf0e6;
}

.bottone:hover {
  background-color: transparent;
    transition-duration: 0.5s;
  color: white;
}

.bottone:not(hover) {
  
    transition-duration: 0.5s;
 
}

#transizione{
    
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,transparent, #fd5b78);
    
}

#elementi{
    
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg,#fd5b78, #cb3d5e);
    padding-top: 50px;
    
    
}

#elementi_item{
    
    width: 800px;
    height: 150px;;
    margin: 0 auto;
    
    
}

#elementi_item_img img{
    
    height: 150px;
    width: auto;  
    margin: 0 20px;
    
}

#elementi_item_img{
    width: 25%;
    height: 150px;
    float: left;
    
    
    
    
}

#cmd_zone{
    
    width: 100%;
    height: 550px;
    background-color: black;
    color: green;
    
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#text1{
    
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
}

#divisione{
    
    height: 100px;
    width: 100%;
    background: linear-gradient(177deg, #cb3d5e 50%, black 50%);
    
}







.footer_menu{background-color: grey; width: 100%}


.footer_menu_section {
    width: 66%;
    height: 260px;
    margin: 0 auto;
    text-align: center;
    
}
.footer_menu_section2 {
    width: 66%;
    height: 50;
    margin: 0 auto;
    text-align: center;
    
}
.footer_menu_section_item {
    width: 33%;
    height: 200px;
    float: left;
}


.footer_menu_section_item h4{
    padding-left: 40px;
    color: #191919;
    font-weight: bold;
    font-size: 20px;
    display: block;
    font-family: 'Antonio', sans-serif;
    color: #fd5b78;
}

.footer_menu_section_item ul{
    color: #191919;
    font-size: 18px;
    display: block;
    font-family: sans-serif, 'Arial';
    list-style: none;
    color: white;
}

.footer_menu_project {
    width: 100%;
    height: 50px;
    background-color: black;
}

.footer_menu_project h5 {
    color: #666;
    font-family: sans-serif, 'Arial';
    font-size: 15px;
    opacity: 0.6;
    padding-left: 35px;
    padding-top: 10px;
}

@media(max-width:815px) {
    body{background-color: white; background-position:right; background-size:auto;}
    
    
  .header_logo img {margin-left:0px;}
    
    .header_icon-bar {display: block;}
    .header_menu_item {display: block; padding-left: 50px;}
    .header_menu {
        width: 100%;
        height: 0px;
        overflow: hidden;
        -webkit-transition:  all 0.3s ease-out;
        transition:  all 0.3s ease-out;
    }
    .is-open {height: 275px;overflow: auto;}
    #intro{height: 300px; margin-top: 200px;}
    
    #cmd_zone{padding: 0px;}
    #text1{padding-top: 10px; padding-left: 10px;}
    
    .footer_menu_section_item {
    float: none;
}
    
    #elementi_item{width: 100%; height: auto;  }
    #elementi{height:800px;}
    
    #elementi_item_img{margin:0 auto;padding: 20px 0; height: 150px; width: 200px;  float: none;  }
    
    #elementi_item_img{display: block; margin: 0 auto; text-align: center;}
    
    .footer_menu_section {height: auto; padding-top: 20px;}
    .footer_menu_section2 {height: auto;}
    .footer_menu_project{height: auto;}
    
.footer_menu_project h5 {padding: 5px; margin: 0px;}
    .footer_menu_section_item h4{padding: 0px; margin: 0px;}
}

@media(max-width:1366px) {
    
    #intro{height: 400px;margin-top: 300px;}
      
    #text1{padding-top: 10px; padding-left: 10px;}   
    
}

@media(max-width:1280px) {
    
    #intro{height: 300px;margin-top: 200px;}
   
    #text1{padding-top: 10px; padding-left: 10px;}  
}

@media(max-width:891px) {
    
    #intro{height: 200px;margin-top: 150px;}
    
    #text1{padding-top: 10px; padding-left: 10px;} 
}


