a:link,a:visited {text-decoration: none;}

body{
    
    background-image: url(../images/foto_sfondo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
    
        
}

.header {
    top: 0px;
    position: fixed;
    background-color: #fd5b78;
    display: inline-block;
    width: 100%;
    
}

.header:after {
    
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    
}

.header_logo {
    
    color: white;
    display: block;
    margin: 3 20;
    float: left;
    
}

.header_logo img {
    
    width: 150px;
    height: 50px;
    margin-left: 50px;
}

.header_menu {

    margin: 0;
    margin-right: 50px;
    padding: 0;
    float: right;
    
}


.header_menu_item {

    display: inline-block;  
    position: relative;
}



.header_menu_item a {

    color: #191919;
    font-weight: bold;
    font-size: 22px;
    display: block;
    padding: 15px;
    font-family: 'Antonio', sans-serif;
}


.header_menu_item a:hover {
    
    color: #faf0e6;
    transition-duration: 0.6s;
    
}

.header_menu_item a:not(hover) {
    
    transition-duration: 0.6s;
    
}

.header_icon-bar {
    
    display: block;
    float: right;
    padding: 15px;
    display: none;
}

.header_icon-bar span {
    
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 5px; 
}

#intro{
    margin-top: 400px;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #faf0e6;
}


.bottone{
    
    border: 2px solid #191919;
    background-color: #fd5b78;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Antonio', sans-serif;
    margin: 0 auto;
    text-align: center;
    padding-top:10px;
    color: #faf0e6;
}

#transizione{
    
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg,transparent, #fd5b78);
    
}

#elementi{
    
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg,#fd5b78, #cb3d5e);
    
}



#cmd_zone{
    
    width: 100%;
    height: 550px;
    background-color: black;
    color: green;
    
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#text1{
    
    height: auto;
    padding-top: 50px;
    padding-left: 50px;
}

#divisione{
    
    height: 100px;
    width: 100%;
    background: linear-gradient(177deg, #cb3d5e 50%, black 50%);
    
}


@media(max-width:815px) {
    body{background-color: white; background-position:right; background-size:auto;}
    
    
  .header_logo img {margin-left:0px;}
    
    .header_icon-bar {display: block;}
    .header_menu_item {display: block; padding-left: 50px;}
    .header_menu {
        width: 100%;
        height: 0px;
        overflow: hidden;
        -webkit-transition:  all 0.3s ease-out;
        transition:  all 0.3s ease-out;
    }
    .is-open {height: 275px;overflow: auto;}
    #intro{height: 300px; margin-top: 200px;}
    
    #cmd_zone{padding: 0px;}
    #text1{padding-top: 10px; padding-left: 10px;}
    
}

@media(max-width:1366px) {
    
    #intro{height: 400px;margin-top: 300px;}
      
    #text1{padding-top: 10px; padding-left: 10px;}   
    
}

@media(max-width:1280px) {
    
    #intro{height: 300px;margin-top: 200px;}
   
    #text1{padding-top: 10px; padding-left: 10px;}  
}

@media(max-width:891px) {
    
    #intro{height: 200px;margin-top: 150px;}
    
    #text1{padding-top: 10px; padding-left: 10px;} 
}


